// Here you can add other styles
.c-sidebar .c-sidebar-brand {
    color: white;
    background: white;
}

.text-value {
    font-size: large;
}

.font-size-large {
    font-size: large;
}

.spinner{
    width:'4rem';
    height:'4rem';
}

.spinner--spacer-bottom{
    margin-bottom: 10pt;
}

.c-body{
    background-color: white;
}