// Variable overrides
thead {
  background-color: #339dff;
  color: #fff;
}

.pagination .page-item .page-link {
  color: #339dff;
}

.pagination .page-item.active .page-link {
  background-color: #339dff;
  border-color: #339dff;
}

.card .card-header {
  background-color: #339dff;
  color: #fff;
  border-color: rgba(0, 0, 0, 0.125); //darken($value, 12.5%);
}

.c-sidebar-nav {
  .c-sidebar-nav-dropdown {
    .c-sidebar-nav-link {
      &:hover {
        background-color: #0084ff;
      }
    }
  }
}

.c-sidebar-nav {
  .c-sidebar-nav-item {
    .c-sidebar-nav-link {
      &:hover {
        background-color: #0084ff;
      }
    }
  }
}

.dropdown-menu {
  .dropdown-item {
    &:active,
    &:focus {
      background-color: #339dff;
    }
  }
}

.c-main {
  background-color: #ebedef;
}
